@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="gridContainer">
<div class="gridForm"><section class="form">
        <div class="form-head">
            <h1>@ViewData["Title"]</h1>
            <p class="form-head_underText">Simple way to join in your account</p>
        </div>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-input">
                <label asp-for="Input.UserName">Username<span>*</span></label>
                <input asp-for="Input.UserName" autocomplete="username" aria-required="true" placeholder="username">
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-input">
                <label asp-for="Input.Email">Email<span>*</span></label>
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="mail@website.com">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-input">
                <label asp-for="Input.Password">Password<span>*</span></label>
                <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password" type="password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-input">
                <label asp-for="Input.ConfirmPassword">Confirm Password<span>*</span></label>
                <input asp-for="Input.ConfirmPassword" autocomplete="current-password" aria-required="true" placeholder="confirm password" type="password">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="submit">Register</button>

            <div class="register-reminder">
                <p>Already registered?<a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl"><span> Login</span></a> </p>
            </div>
        </form>
    </section></div>
    
    <section class="Ad-Img">
        <div class="top-left_block">
            <svg width="354" height="430" viewBox="0 0 354 430" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="118" height="167" fill="#3521B5"/>
                <rect x="82" width="154" height="143" fill="#3521B5"/>
                <path d="M216 0L354 0V121C354 133.15 344.15 143 332 143H216L216 0Z" fill="#3521B5"/>
                <rect y="143" width="138" height="143" fill="#3521B5"/>
                <path d="M106 117L236 117L236 264C236 276.15 226.15 286 214 286H106L106 117Z" fill="#3521B5"/>
                <path d="M0 276H118L118 408C118 420.15 108.15 430 96 430H0L0 276Z" fill="#3521B5"/>
            </svg>

        </div>
        <div class="top-right_block">
            <svg width="354" height="430" viewBox="0 0 354 430" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="118" height="167" fill="#3521B5"/>
                <rect x="82" width="154" height="143" fill="#3521B5"/>
                <path d="M216 0L354 0V121C354 133.15 344.15 143 332 143H216L216 0Z" fill="#3521B5"/>
                <rect y="143" width="138" height="143" fill="#3521B5"/>
                <path d="M106 117L236 117L236 264C236 276.15 226.15 286 214 286H106L106 117Z" fill="#3521B5"/>
                <path d="M0 276H118L118 408C118 420.15 108.15 430 96 430H0L0 276Z" fill="#3521B5"/>
            </svg>

        </div>
        <div class="wrapper">
            <div class="wrapper-img"><img src="~/img/example.png"></div>

            <h2>Join to new messanger</h2>
            <p >Try new type of connection</p>
        </div>
    </section>
</div>



@*<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
